<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--当前项目ID-->
    <add key="ProjectId" value="12780" />
    <!--数据库链接配置-->
    <add key="Conn" value="server=.; User Id=sa; pwd=123;database=KtpAcsMiddleware;" />
    <!--文件保存位置-->
    <add key="CustomFilesDir" value="D:\Coding\KtpAcsMiddleware\KtpAcsMiddleware\_Files\" />
    <!--服务睡眠时间,默认5分钟=300000毫秒-->
    <add key="ThreadRunTime" value="300000" />
    <!--考勤睡眠时间,默认1分钟=60000毫秒-->
    <add key="ThreadSleepTimeAuth" value="60000" />
    <!--开太平api地址-->
    <!--<add key="KtpApiBaseUrl" value="http://tcs.ktpis.com/zj/" />-->
    <add key="KtpApiBaseUrl" value="http://t.ktpis.com/zj/" />
    <!--是否从开太平下拉数据(双向同步)-->
    <add key="IsLoadKtpData" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>