@{
    ViewBag.Title = "密码修改";
    Layout = "_Layout.cshtml";
}
<h2>@ViewBag.sessionUserRealName</h2>
<p>密码修改</p>
<form id="changePasswordForm">
    <div id="errorContainer" class="alert alert-danger with-icon" style="display: none; padding: 6px;">
        <i class="icon-remove-sign"></i>
        <div class="content" style="padding-left: 0">
            <h4 id="errorMsg">出现错误。</h4>
        </div>
    </div>
    <table style="width: 100%">
        <tr>
            <td>
                <h3>
                    <span>原密码：</span>
                </h3>
            </td>
            <td>
                <input type="password" id="password" name="password" class="password active" style="padding: 6px 10px 6px 50px">
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    <span>新密码：</span>
                </h3>
            </td>
            <td>
                <input type="password" id="newPassword" name="newPassword" class="password active" style="padding: 6px 10px 6px 50px">
            </td>
        </tr>
        <tr>
            <td>
                <h3>
                    <span>确 认：</span>
                </h3>
            </td>
            <td>
                <input type="password" id="newPassworda" name="newPassworda" class="password active" style="padding: 6px 10px 6px 50px">
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="button" id="changePasswordButton" style="padding: 6px 7px" value="修改"/>
            </td>
        </tr>
    </table>
</form>
<script src="~/Views/Home/ChangePassword.js"></script>