@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title>权限错误</title>
</head>
<body>
<hgroup>
    <h1>你没有当前动作的权限。</h1>
    <h2>
        如需要执行当前操作，请联系管理员。<a href="javascript:history.back(-1)">返回</a>
    </h2>
</hgroup>
</body>
</html>